extends ../partials/_layout

block content
  mixin createSponsorContent(col, data, key)
    a.sponsor-content-area(class="col-md-"+col+" col-xs-12" style="text-decoration:none;"+(data.style?data.style:"") href=data.link title=data.company+(data.description?"\n\n"+data.description:"") target="_blank")
      div(class=key)
        img.company-logo(src=data.logo)
        if col > 2
          .company-description!= data.description

  .container-fluid#sponsors
    each sponsorItems, sponsorIndex in sponsors
      if sponsorItems.length > 0
        .row
          .col-md-12.col-xs-12
            h2.company-name(class=sponsorIndex) #{tranformName[sponsorIndex].name || sponsorIndex.toUpperCase()}
          each item, index in sponsorItems
            +createSponsorContent(tranformName[sponsorIndex].col, item, sponsorIndex)

block js
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[5].classList.add('active');
    }, 0);

block css
  style(type='text/css').
    body .jsdc-background { background-color: #f2f2f2; }