- var title = 'JSDC 2017';
- var description = '臺灣 JavaScript 開發者年會 ( JavaScript Developer Conference Taiwan，簡稱 JSDC ) 是台灣最⼤的 JavaScript 年度性技術研討會，旨在提供台灣中⾼階 JavaScript 技術人才與世界最新 JavaScript 相關技術討論與分享。';
- var coverImage = 'http://2017.jsdc.tw/images/jsdc-2016-volunteers.jpg';

title #{title}

// html
meta(http-equiv='Content-type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='author', content='JSDC Member')
meta(name='copyright', content='JSDC Taiwan')
meta(name='keywords', content='website, javascript, conference, developers, js, JSDC, 2017')

// SEO meta 設定
meta(itemprop='name', content=title)
meta(itemprop='description', content=description)
meta(itemprop='image', content=coverImage)

// og 設定
meta(property='og:type', content='website')
meta(property='og:title', content=title)
meta(property='og:description', content=description)
meta(property='og:image', content=coverImage)
meta(property='og:url', content='http://2017.jsdc.tw/')
meta(property='og:site_name', content='JSDC 2017')

// twitter 設定
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='@jsdc_tw')
meta(name='twitter:title' content=title)
meta(name='twitter:description' content=description)
meta(property='twitter:image', content=coverImage)
meta(property='twitter:creator', content='@jsdc_tw')
link(href=coverImage rel='image_src' type='image/jpeg')
